
	
	
	
	div.header
   {
		background-color:#eeeeee;
		color:black;
		text-align:center;
		margin-top:8px;	
		margin-bottom:2px;
	}
	
	div.left_nav 
    {
		line-height:20px;
		background-color:#eeeeee;
		height:100%;
		width:160px;
		float:left;
		padding:0px;
		margin-top:0px;	 
		border-style: groove;
		border-width: medium;
	}
	div.admin
    {
		line-height:20px;
		background-color:#eeeeee;
		height:100%;
		width:160px;
		float:left;
		padding:0px;
		margin-top:0px;	
		margin-botton:0px;
		margin-left: 42.5%;
		border-style: groove;
		border-width: medium;
	}
	div.section
    {   
        float:left;
	    padding:5px;		
	}
	
	div.sectionprofileright
    {   
        float:right;
	    padding:5px;		
	}
	div.sectionprofileleft
    {   
        float:left;
	    padding:5px;		
	}
div.event
       {
		background-color:white;
		opacity:0.4;
		padding-left:200px;
		height:100%;
		width:90%;
	}

div.top_left
       {
		line-height:30px;
		background-color:#eeeeee;
		height:100%;
		width:150px;
		float:right;
		padding:2px;	
	}		
ul.nav_left
    {
		list-style-type:disc;			
	}

div.bigFont
    {
	    text-align: center;
	    font-size: 20px;
	    margin-top: 2px;
   	}
   
p.region
    {
	    text-align: center;
	    font-size: 18px;
	    margin-top: 5px;
		}
   
   p.regionadmin
    {
	    text-align: center;
	    font-size: 18px;
	    margin-top: 10px;
		margin-bottom:10px;
   	}
   
div.nav_log 
       {
	    line-height:30px;
		background-color:#eeeeee;
		height:30%;
		width:40%;
		text-align:center;
		padding:0px;	 
		border-style: groove;
		border-width: medium;
		margin-left: auto;
        margin-right: auto;
		margin-top: 2px;
	}
	
div.nav_log p.input  input{
	width: 40%;
	
	
}

div.nav_log input,div.nav_log textarea{
	width: 80%;
}




div.nav_log p.title{
	text-align: center;
	font-size: 150%;
}

div.footer
       {
	   	background-color:CCCCCC;
		color:#000000;
		clear:both;
		text-align:center;
		padding:5px;
		margin-top:1%;
    }
	
	p.cabecera
      {
	    text-align: center;
	    font-size: 48px;
		font-style:oblique;
		font-weight:bold;
	    margin-top:0; margin-bottom:0;
		
		
   	}
   p.cabecera2
    {
	    text-align: center;
	    font-size: 20px;
	    margin-top:0; margin-bottom:0;	
   	}



	p.menuHorizontal
       {
		font-size:28px;
		color:#333333;
		background-color:#CCCCCC;
		border:3px;
		text-align:right;		
		}
		p.menuHorizontalLog
       {
		font-size:28px;
		color:#333333;
		background-color:#CCCCCC;
		border:3px;
		text-align:left;		
		}
	
	
	a.link{
	text-decoration:none;  
	color:#993333;
	
	}

	a.linkMenuVertical{
	text-decoration:none;  
	color:#003399;	
	}
	
	
	p.menuVerticalTitulos
    {
		font-size:24px;
		color:#000000;
		border:3px;
		margin-top:15px;
		text-align:center;
	}
	
		p.menuVerticalTitulosAdmin
    {
		font-size:24px;
		color:#000000;
		border:3px;
		margin-top:2px;
		margin-bottom:3px;
		text-align:center;
	}
	
	a:hover{
	text-decoration:none;  
	color:#FF0000;
	}

textarea
{
  padding: 10px;
  border: solid 3px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
 input[type="text"]:focus,
input[type="text"].focus {
  border: solid 3px #6699CC;
}


 input[type="text"] {
  padding: 10px;
  border: solid 3px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
 input[type="text"]:focus,
input[type="text"].focus {
  border: solid 3px #6699CC;
}


input[type="file"] {
  padding: 10px;
  border: solid 3px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
 input[type="file"]:focus,
input[type="file"].focus {
  border: solid 3px #6699CC;
}


input[type="tel"] {
  padding: 10px;
  border: solid 3px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
 input[type="tel"]:focus,
input[type="tel"].focus {
  border: solid 3px #6699CC;
}

input[type="password"] {
  padding: 10px;
  border: solid 3px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
 input[type="password"]:focus,
input[type="password"].focus {
  border: solid 3px #6699CC;
}

input[type="email"] {
  padding: 10px;
  border: solid 3px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
 input[type="email"]:focus,
input[type="email"].focus {
  border: solid 3px #6699CC;
}
	
input[type="submit"] {
  text-align:center;
  padding: 10px;
  border:  3px #6699CC;
  color:#0066FF;
  font-size:18px;
  box-shadow: inset 0 0 0 3px #w;
 
}
 



